<div class="plano-wlc-page-wrapper" id="welcome-page">
  <div class="plano-wlc-page-container">
    <div class="plano-wlc-page-content">
      <div class="plano-bull-logo-cont"><img src="assets/logo.png" alt="Red Bull"></div>
      <div class="plano-wing-titles-cont">
        <span class="wingman-title">wingman</span><br>
        program 2021
      </div>
      <div class="wlc-page-countries-cont language-menu" id="lang-list" style="">
        <div class="country-cont lang" (click)="navigateInnerPage()">
          <div class="country-content languages">
            English
          </div>
        </div>
        <div class="country-cont lang" (click)="navigateInnerPage()">
          <div class="country-content languages">
            Urdu
          </div>
        </div>
        <div class="country-cont lang" (click)="navigateInnerPage()">
          <div class="country-content languages">
            Arabic
          </div>
        </div>
        <div class="select-country">
          Select language from above to start
        </div>
      </div>
    </div>
  </div>
</div>