<div class="gift-table-section">
  <div class="fxd-header-sect-cont sub-categories">
    <div class="fxd-header-sect">
      <div class="fxd-header-content">
        {{categoryName | translate}}
      </div>
      <div class="discover-proceed-arrow back-arrow">
        <a (click)="navigateInnerVipPage()"><svg xmlns="http://www.w3.org/2000/svg" width="18.613" height="14.083"
            viewbox="0 0 18.613 14.083">
            <path class="a"
              d="M2.814,21.877l6,6A1.039,1.039,0,1,0,10.279,26.4L6.066,22.17H20.075a1.039,1.039,0,1,0,0-2.077H6.066l4.212-4.212a1.028,1.028,0,0,0,0-1.469,1.07,1.07,0,0,0-.745-.314,1.024,1.024,0,0,0-.745.314L2.814,20.387a1.04,1.04,0,0,0,0,1.489Z"
              transform="translate(21.113 28.181) rotate(180)"></path>
          </svg></a>
      </div>
    </div>
  </div>
  <div class="gift-table-wrapper">
    <div class="gift-table-container">
      <div class="gift-table-content">
        <table>
          <tr>
            <th>{{categoryHeaderName.title | translate}}</th>
            <th>{{categoryHeaderName.before | translate}}</th>
            <th>{{categoryHeaderName.after | translate}}</th>
          </tr>
          <tr *ngFor="let category of categoriesTableContent">
            <td>{{category.title | translate }}</td>
            <td>{{category.beforeValue | translate }}</td>
            <td>{{category.afterValue | translate}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>