<div class="plano-wlc-page-wrapper" id="welcome-page">
  <div class="plano-wlc-page-container">
    <div class="plano-wlc-page-content">
      <div class="plano-bull-logo-cont"><img src="assets/logo.png" alt="Red Bull"></div>
      <div class="plano-wing-titles-cont">
        <span class="wingman-title">{{siteName}}</span><br>
        {{'welcomeProgram' | CustomTranslation:langSelected}} {{year}}
      </div>
      <div class="wlc-page-countries-cont countries-list" id="country-list">
        <div *ngFor="let country of countries" class="country-cont">
          <div (click)="navigateLanguagesPageSelectALanguageToStart(country)"
            class="country-content {{country.toLowerCase()}}">
            {{country.toUpperCase() | CustomTranslation:langSelected}}
          </div>
        </div>
        <div class="select-country">
          {{'welcomeSelectACountryToStart' | CustomTranslation:langSelected}}
        </div>
      </div>
    </div>
  </div>
</div>