$color_1: white;
$color_2: black;
$color_3: #db0b41;
$color_4: #001d3c;
$color_5: #fff;
$font-family_1: 'Bull', 'Arial';
$font-family_2: "Bull", Arial;
$font-family_3: 'Bull', Arial;
$background-color_1: white;
$background-color_2: #db0b41;
$background-color_3: #f5f5f5;
$background-color_4: #001d3c;
$background-color_5: #e0e3e5;

@font-face {
 font-family: 'Bull';
 src: url('./assets/font/Bull-Regular.eot');
 src: url('./assets/font/Bull-Regular.eot?#iefix') format('embedded-opentype'), url('./assets/font/Bull-Regular.woff2') format('woff2'), url('./assets/font/Bull-Regular.woff') format('woff'), url('./assets/font/Bull-Regular.ttf') format('truetype');
 font-weight: 300;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'Bull';
 src: url('./assets/font/Bull-Bold.eot');
 src: url('./assets/font/Bull-Bold.eot?#iefix') format('embedded-opentype'), url('./assets/font/Bull-Bold.woff2') format('woff2'), url('./assets/font/Bull-Bold.woff') format('woff'), url('./assets/font/Bull-Bold.ttf') format('truetype');
 font-weight: 700;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'Bull';
 src: url('./assets/font/Bull-Medium.eot');
 src: url('./assets/font/Bull-Medium.eot?#iefix') format('embedded-opentype'), url('./assets/font/Bull-Medium.woff2') format('woff2'), url('./assets/font/Bull-Medium.woff') format('woff'), url('./assets/font/Bull-Medium.ttf') format('truetype');
 font-weight: 500;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'Bull';
 src: url('./assets/font/Bull-Heavy1.eot');
 src: url('./assets/font/Bull-Heavy1.eot?#iefix') format('embedded-opentype'), url('./assets/font/Bull-Heavy1.woff2') format('woff2'), url('./assets/font/Bull-Heavy1.woff') format('woff'), url('./assets/font/Bull-Heavy1.ttf') format('truetype');
 font-weight: 800;
 font-style: normal;
 font-display: swap;
}

@import '~@angular/cdk/overlay-prebuilt.css';


/* discover page style */
/* inner cat style */
/* VIP Style */
/* Insights Page */
/* Vip Inner Category */
/* gift table style */
* {
 box-sizing: border-box;
}

body {
 padding: 0;
 margin: 0;
 font-family: $font-family_1;
}

.plano-wlc-page-wrapper {
 max-width: 1920px;
 background-image: url('assets/splash-bg.png');
 background-repeat: no-repeat;
 background-size: cover;
 overflow: hidden;
 height: 100vh;
 overflow: auto;
}

.plano-wlc-page-container {
 padding: 30px;
}

.plano-bull-logo-cont {
 max-width: 190px;
 margin: 0 auto;

 img {
  display: block;
  width: 100%;
 }
}

.plano-wing-titles-cont {
 color: $color_1;
 text-transform: uppercase;
 text-align: center;
 padding: 40px 0;
 font-size: 25px;
 font-weight: 600;
}

.wingman-title {
 font-size: 30px;
 line-height: 35px;
 font-weight: 300;
}

.wlc-page-countries-cont {
 max-width: 220px;
 margin: 0 auto;
 text-align: center;
 padding: 40px 0;
}

.country-cont {
 padding: 10px 0;
 position: relative;
 cursor: pointer;
}

.country-content {
 padding: 15px 0;
 background-color: $background-color_1;

 &::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 20px;
  left: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
 }

 &:hover {
  background-color: $background-color_2;
  color: $color_1;
  transition: background-color 0.5s ease;
 }
}

.country-content.uae {
 &::before {
  background-image: url('assets/flags/uae.png');
 }
}

.country-content.maldives {
 &::before {
  background-image: url('assets/flags/maldives.png');
 }
}

.country-content.pakistan {
 &::before {
  background-image: url('assets/flags/pakistan.png');
 }
}

.country-content.sri.lanka {
 &::before {
  background-image: url('assets/flags/sriLanka.png');
 }
}


.country-content.algeria {
 &::before {
  background-image: url('assets/flags/algeria.png');
 }
}

.country-content.nigeria {
 &::before {
  background-image: url('assets/flags/nigeria.png');
 }
}

.country-content.angola {
 &::before {
  background-image: url('assets/flags/angola.png');
 }
}

.country-content.mauritius {
 &::before {
  background-image: url('assets/flags/mauritius.png');
 }
}

.country-content.kenya {
 &::before {
  background-image: url('assets/flags/kenya.png');
 }
}

.country-content.egypt {
 &::before {
  background-image: url('assets/flags/egypt.png');
 }
}

.country-content.oman {
 &::before {
  background-image: url('assets/flags/oman.png');
 }
}

.country-content.kuwait {
 &::before {
  background-image: url('assets/flags/kuwait.png');
 }
}

.country-content.qatar {
 &::before {
  background-image: url('assets/flags/qatar.png');
 }
}


.country-content.jordan {
 &::before {
  background-image: url('assets/flags/jordan.png');
 }
}


.country-content.bahrain {
 &::before {
  background-image: url('assets/flags/bahrain.png');
 }
}

.country-content.ksa {
 &::before {
  background-image: url('assets/flags/ksa.png');
 }
}

.country-content.lebanon {
 &::before {
  background-image: url('assets/flags/lebanon.png');
 }
}

.country-content.ghana {
 &::before {
  background-image: url('assets/flags/ghana.png');
 }
}



.select-country {
 font-size: 15px;
 line-height: 20px;
 text-align: center;
 color: $color_1;
 padding: 40px 0;
}

.footer-elements {
 a {
  text-decoration: none;
  color: $color_2;
 }

 display: inline-block;
 width: 33.333333%;
 vertical-align: middle;
 font-size: 15px;
 padding: 15px;
}

.magnifying-glass {
 font-size: 1.5em;
 display: inline-block;
 width: 9px;
 box-sizing: content-box;
 height: 9px;
 border: 0.1em solid black;
 position: relative;
 border-radius: 0.35em;

 &:before {
  content: '';
  display: inline-block;
  position: absolute;
  right: -0.35em;
  bottom: -0.15em;
  border-width: 0;
  background: black;
  width: 9px;
  height: 2px;
  transform: rotate(45deg);
  cursor: pointer;
 }
}

.plano-inner-page-wrapper {
 max-width: 1920px;
}

.fxd-header-sect-cont {
 background-color: $background-color_3;
 position: fixed;
 z-index: 6;
 width: 100%;
}

.fxd-header-sect {
 display: flex;
 align-items: center;
}

.plano-inner-page-content {
 padding: 76px 0;
}

.search-input-cont {
 flex: 0.8;
 padding: 20px;

 input {
  border: none;
  width: 100%;
  padding: 15px 0;
  outline: none;
  padding-left: 45px;

  &::placeholder {
   font-size: 15px;
   opacity: 1;
   display: block;
   font-family: $font-family_2;
   font-weight: 300;
  }
 }
}

.lang-selector-cont {
 max-width: 28px;
 flex: 0.2;
 cursor: pointer;
}

.fxd-footer-sect-cont {
 background-color: $background-color_3;
 position: fixed;
 width: 100%;
 bottom: 0;
 z-index: 4;
}

.footer-elements-wrapper {
 display: block;
 font-size: 0;
 text-align: center;
}

.footer-elements-logo {
 max-width: 25px;
 margin: 0 auto;
 cursor: pointer;
}

.footer-elements.selected {
 .footer-elements-logo {
  svg {
   fill: #db0b41;
  }
 }
}

.plano-inner-page-cont {
 width: 100%;
 padding: 20px;
}

.discover-categories-container {
 padding: 2px 0;
 position: relative;
}

.discover-category {
 position: relative;
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh;
 padding: 5px 0;
 min-height: 100px;


 &::before {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 60px solid #db0b41;
  border-left: 60px solid transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
 }

 &::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 29, 60, .42);
  z-index: 1;
 }
}

.discover-category.impulse {
 background-image: url('assets/impulse.jpg');
}

.discover-category.cg {
 background-image: url('assets/cg.jpg');
}

.discover-category.retail {
 background-image: url('assets/retail.jpg');
}

.discover-category.coolers {
 background-image: url('assets/cooler.jpg');
}

.category-title {
 color: $color_1;
 position: absolute;
 z-index: 2;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 25px;
 line-height: 25px;
 font-weight: 700;
 text-transform: uppercase;
}

.discover-proceed-arrow {
 position: absolute;
 right: 0;
 bottom: 0;
 width: 30px;
 height: 27px;
 z-index: 4;

 svg {
  fill: #fff;
 }
}

.magnifying-glass-cont {
 position: absolute;
 left: 30px;
}

.fxd-header-sect-cont.sub-categories {
 background-color: $background-color_4;
 color: $color_1;
 max-width: 1920px;
}

.discover-proceed-arrow.back-arrow {
 position: absolute;
 width: 35px;
 height: 32px;
 z-index: 4;
 transform: translate(-50%, -50%);
 transform: rotate(180deg);
 top: 0;
 left: 0px;
 cursor: pointer;
}

.fxd-header-content {
 padding: 13px 0;
 margin: 0 auto;
 font-size: 19px;
 text-transform: uppercase;
 font-weight: 800;
}

.sub-categories-container {
 padding: 75px 20px;
}

.sub-cats-container {
 padding-bottom: 20px;
}

.sub-cats {
 background-color: $background-color_4;
 padding: 5px 20px;
 color: $color_1;
 cursor: pointer;
 position: relative;
}

.sub-cats-title {
 font-size: 18px;
 font-weight: 700;
}

.sub-cats-sub-title {
 font-size: 13px;
 line-height: 20px;
 font-weight: 300;
 text-transform: uppercase;
}

.sub-cat-accordion-cont {
 position: absolute;
 top: 0;
 right: 0;
 width: 60px;
 height: 52px;
}

.sub-cat-accordion {
 width: 35px;
 height: 35px;
 background-color: $background-color_2;
 height: 100%;
 width: 100%;
 position: relative;
 transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiSvgIcon-root {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 fill: white;
}

.sub-cats.acc-open {
 .sub-cat-accordion {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
 }
}

.sub-cats-inner-page-title {
 text-align: center;
 font-size: 17px;
 font-weight: 700;
 padding: 20px 0;
}

.sub-cats-inner-page {
 padding: 15px 0;
}

.sub-cats-inner-page-img {
 text-align: center;
}

.sub-cats-inner-page-flow {
 text-align: center;
 font-size: 12px;
 font-weight: 300;
 transition: 0.5ms ease;
 cursor: pointer;
 text-transform: uppercase;
 padding: 15px 0;

 &:hover {
  color: $color_3;
 }
}

.sub-cats.vip-cats {
 padding: 18px 20px;
 position: relative;

 &:hover {
  background-color: $background-color_2;
  transition: background-color 0.5s ease;
 }
}

.sub-cat-accordion-cont.vip-arrow {
 width: 60px;
 height: 59px;

 .sub-cat-accordion {
  svg {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   fill: white;
  }
 }
}

.sub-cats-title.vip-cats-title {
 font-size: 16px;
 line-height: 23px;
}

.vip-top-img-wrapper {
 max-width: 150px;
 margin: 0 auto;
 padding: 20px 0;

 img {
  display: block;
  width: 100%;
 }
}

.vip-rb-cans-wrapper {
 max-width: 170px;
 margin: 0 auto;
 padding: 20px 0;

 img {
  display: block;
  width: 100%;
 }
}

.vip-header-txt {
 font-size: 13px;
 text-align: center;
 font-weight: 300;
}


.vip-cats-redirect {
 position: absolute;
 z-index: 6;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;

 a {
  width: 100%;
  height: 100%;
  display: block;
 }
}

.insights-sec-wrapper {
 max-width: 1920px;
}

.insights-sec-container {
 background-color: $background-color_3;
 padding: 50px 20px;
}

.good-read-section-wrapper {
 padding-bottom: 20px;
}

.good-read-section {
 padding: 50px 20px 20px 20px;
 color: $color_4;
 font-size: 12px;
 background-color: $background-color_1;
 width: 100%;
}

.good-read-image {
 width: 100%;

 img {
  display: block;
  width: 100%;
 }
}

.good-read-title {
 font-weight: 700;
 padding: 10px 0 25px 0;
}

.good-read-description {
 font-weight: 300;
 padding-bottom: 15px;
}

.good-read-explore-btn {
 padding: 15px 0;

 a {
  background-color: $background-color_2;
  color: $color_5;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 300;
 }
}

.sub-cat-accordion-cont.numbered-circle {
 .sub-cat-accordion {
  border-radius: 50px;
  width: 55px;
  height: 55px;
 }

 left: 10px;
 top: -25px;
}

.numbered-elements {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 20px;
 font-weight: 300;
}

.sub-cats.vip-inner {
 text-align: center;
 padding: 20px 0;
}

.sub-categories-wrapper.vip {
 .sub-categories-container {
  padding-top: 90px;
 }

 .sub-cats-inner-page {
  background-color: $background-color_3;
 }

 .sub-cats {
  cursor: auto;
 }

 .sub-cats-container {
  background-color: $background-color_3;
 }
}

.gift-logo {
 position: absolute;
 right: 17px;
 cursor: pointer;
 max-width: 21px;
 height: 21px;

 svg {
  width: 100%;
  fill: white;
 }
}

table {
 font-family: $font-family_3;
 width: 100%;
 border-collapse: collapse;
}

tr {
 &:nth-child(even) {
  background-color: $background-color_5;
  border: none;
 }
}

.gift-table-wrapper {
 padding: 50px 0;
}

td {
 text-align: left;
 padding: 15px 0 15px 10px;
 font-size: 12px;
 font-weight: 700;
 text-transform: uppercase;
}

th {
 text-align: left;
 padding: 15px 0 15px 10px;
 font-size: 12px;
 font-weight: 700;
 text-transform: uppercase;
}

.hide {
 display: none;
}

.footer-element-selected {
 fill: #db0b41;
}

.good-read-section-wrapper {
 display: flex;
}

.numbered-elements-part-two {
 top: inherit;
}

.default-margin {
 margin-top: 20px;
}


@media only screen and (max-width: 786px) {
 .discover-category {
  height: 20vh;
 }



}

.sub-cats-inner-page-img {
 overflow: hidden;
}

.default-icon-size {
 width: 24px;
 height: 24px
}



[dir=rtl] .discover-proceed-arrow {
 left: 10px;
 bottom: 10px;
 right: inherit;
 transform: rotate(180deg);
}


[dir=rtl] .discover-category::before {
 left: 0px;
 right: inherit;
}


[dir=rtl] .search-input-cont input {
 padding-right: 10px;
}



[dir=rtl] .sub-cat-accordion-cont {
 right: inherit;
 left: 0;
}

[dir=rtl] .sub-cat-accordion-cont.vip-arrow .sub-cat-accordion svg {
 transform: rotate(180deg);
 position: inherit;
 top: inherit;
 left: inherit;
}

[dir=rtl] .sub-cat-accordion {
 display: flex;
 justify-content: center;
 align-items: center;
}

[dir=rtl] .discover-category::before {
 border-right: 60px solid transparent;
 border-left: none;
}

[dir=rtl] .mat-expansion-indicator::after {
 right: 20px;
 left: inherit;
}